* {
    bg-col:  #1e1e2e;
    bg-col-light: #1e1e2e;
    border-col: #f5c2e7;
    selected-col: #313244;
    text-col: #cdd6f4;
    text-col-selected: #f5c2e7;
    online-color: #a6e3a1;

    width: 600;
    font: "JetBrainsMono Nerd Font 11";
}

element-text, element-icon , mode-switcher {
    background-color: inherit;
    text-color:       inherit;
}

window {
    height: 360px;
    border: 3px;
    border-color: @border-col;
    background-color: @bg-col;
}

mainbox {
    background-color: @bg-col;
}

inputbar {
    children: [prompt,entry];
    background-color: @bg-col;
    border-radius: 5px;
    padding: 2px;
}

prompt {
    background-color: @border-col;
    padding: 6px;
    text-color: @bg-col;
    border-radius: 3px;
    margin: 10px 0px 0px 20px;
}

textbox-prompt-colon {
    expand: false;
    str: ":";
}

entry {
    padding: 6px;
    margin: 10px 0px 0px 10px;
    text-color: @text-col;
    background-color: @bg-col;
}

listview {
    border: 0px 0px 0px;
    padding: 6px 0px 0px;
    margin: 10px 0px 0px 20px;
    columns: 1;
    lines: 8;
    background-color: @bg-col;
}

element {
    padding: 5px;
    background-color: @bg-col;
    text-color: @text-col;
}

element-icon {
    size: 25px;
}

element selected {
    background-color:  @selected-col;
    text-color: @text-col-selected;
    border-radius: 3px;
}

mode-switcher {
    spacing: 0;
  }

button {
    padding: 10px;
    background-color: @bg-col-light;
    text-color: #7f849c;
    vertical-align: 0.5; 
    horizontal-align: 0.5;
}

button selected {
  background-color: @bg-col;
  text-color: @border-col;
}
