[Unit]
Description=Check and update Yazi from crates.io using binstall

[Service]
Type=oneshot
# Systemd user units allow %h shortcut to represent home directory
ExecStart=%h/.config/scripts/update-yazi.sh

# --- LOG TO A FILE ---
StandardOutput=append:%h/.config/scripts/yazi-updater.log
StandardError=inherit
# --------------------------------------------

